table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.filter-button {
  display: block;
  margin: 0 auto;
}

.transaction-form,
.action-button {
  display: none;
}

.action-button {
  margin: 0 auto;
}
